
body{

    background-image: url("https://media2.s-nbcnews.com/j/newscms/2017_31/2095396/170804-boeing-787-10-ew-120p_63e5634e7a17fd99b0970bbc308bc4b0.nbcnews-ux-2880-1000.jpg");

}
p{

  padding-left: 30px;
  size: 20px;

}



